*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#headermain{
display: flex;
background-color: black;
height: 15vh;

}
#buttons{

margin-left: 300PX;
margin-top: 59px;

    color:white;

}
#nav-items{

    padding: 2px 5px;
}

#buttontext{

    color: white;
}
#mainlogo{
    color: white;
    margin-left: 155px;
}
#logoimg{
    margin-top: 8px;
    margin-left: -25px;
}


/* section2 */

#section2{
    background-color: black;
    height: 80vh;
}
#h2text{
    font-weight: bold;
    /* font-family: ; */
display: inline-block;
margin-top: 170px;
margin-left: 155px;

}
#spantext{
    text-decoration-line: underline;
    text-decoration-color: #ff5c33;
    font-style: italic;
 }

.button2{
    position: relative;
top:100px;
left:-422px;
 background-color: #e0951b;
color:black;
padding: 4px 14px;
border: none;
}
#bodyimg{
    position: relative;
    top: 10px;
    left: 10px;
width: 550px;
height:470px;

}


#sec4{
/* */
    background-color: rgb(8, 8, 8);
    height: 100vh;
width: auto;
padding-top: 40px;

}


#services{
    color:#e0951b;
    text-align: center;
    font-weight: 1000;
    font-size: x-large;
}


  #imagesbox{
    display: flex;
/* padding-top: 45px; */
/* height: 50%; */
margin: 2px 110px;
padding: 40px 90px 20px 90px;


/* justify-content: baseline; */
/* float: left; */
  }

#column{
    padding: 15px;
    max-width: 33.33%;
    justify-content: center;
    align-items: center;
    height:550px;

}

.text-block {
    position: relative;
    bottom: 50px;
    right: 20px;
    height:90px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #e0951b ;
    border-color:#e0951b;
    /* border-style: outset; */
    /* text-decoration: underline;
    text-decoration-color: #e0951b; */
  }

  /* sec5 */
#sec5{
    background-color: black;
    height: 100vh;

}
#reveiew{

    color:#e0951b;
    text-align: center; 
    font-size: xx-large; 
    font-weight: bolder;  


}
#text7{
    position: relative;
color: white;
font-size: xx-large;
padding-top: 125px;
left: 150px;
padding-left: 20px;
font-weight: bolder;
}
#Lorem{
    position: relative;
color: black ;
/* background-color: #e0951b; */
left: 150px;
text-align: left;
}

.button3{
    /* position: relative;
    top:150px;
    bottom: 50px; */
    /* left:522px; */
    
     background-color:black;
    color:  #e0951b;
    padding: 4px 14px;
    border: none;
}
#kgimg{
    position: relative;
top:-435px;
/* right:150px; */
left:620px;

}

/* section6 */
#section6{
height: 100vh;
background-color: black;


}



.image {
    /* display: inline-block; */
    width:31.33%;
/* align-items: center; */
    float: left;
margin:9px  1px;
padding: 60px;
  }
  
  /* .overlayyy {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #b31919; 
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  } */
  .container {
    position: relative;
    width: 100%;
    max-width: 500px;
  }